@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AppleSDGothicNeoSB00';
  font-weight: regular;
  src: url('./assets/fonts/AppleSDGothicNeoSB.ttf'), format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeoM00';
  font-weight: regular;
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf'), format('truetype');
}

@font-face {
  font-family: 'AppleSDGothicNeoR00';
  font-weight: regular;
  src: url('./assets/fonts/AppleSDGothicNeoR.ttf'), format('truetype');
}
